<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="app">
        <h1 v-if="animal1 === 'Dogs'">Dogs</h1>
        <h1 v-else-if="animal1 === 'Cats'">Cats</h1>
        <h1 v-else>Not Dogs or Cats</h1>
        <button @click="toggleAnimals">Toggle Animals</button>
    </section>
    <!-- <ul id="app">
        <li v-for="ingredient in ingredients">  
            {{ ingredient }}
        </li>  
    </ul> -->
    <!-- <ul id="app">
        <template v-for="ingredient in ingredients">
            <li v-if="ingredient === 'Salade'" class="green">Salade</li>
            <li v-else-if="ingredient === 'Tomate'" class="red">Tomate</li>
            <li v-else-if="ingredient === 'Oignon'" class="yellow">Oignon</li>
        </template>
    </ul>  -->
</body>
<script type="module" src="./index.js"></script>
</html>